/* Using the external file style of css*/
h1{
  color: orangered;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  text-shadow: 2px 2px 4px #aaa;
  padding: 20px;
}
img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}